@charset "UTF-8";
/*estilos genricos + sección index*/
* {
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  text-decoration: none;
}

/*scroll más suave en toda la home*/
html {
  scroll-behavior: smooth;
}

/*estilos navbar*/
.navbar {
  height: 150px;
  padding-top: 0;
  background-color: #a8c18dd9;
}

/* import estilos seccion footer - formulario - alimentacion -meditaciones -ejercicios*/
/*import componente footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ddc1a7;
  height: 120px;
  padding: 20px 20px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.footer redes {
  background-color: honeydew;
  padding: 20px 40 px;
}

.footer redes iconos {
  width: 600px;
}

.footer redes iconos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px;
}

/*import componente formulario*/
label {
  display: block;
  margin-top: 20px;
  letter-spacing: 1px;
}

.principal {
  display: block;
  margin: 0 auto;
  width: 510px;
  color: #7aa999;
}

form {
  margin: 0 auto;
  width: 400px;
}

input, textarea {
  width: 380px;
  height: 27px;
  background: #7aa999;
  border: 2px solid #e9ecef;
  padding: 10px;
  margin-top: 5px;
  font-size: 10px;
  color: #e9ecef;
}

textarea {
  height: 150px;
}

#submit {
  width: 85px;
  height: 35px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  margin: 20px;
}

.bg-form {
  background-image: url(../..//multimedia/imagenes_ejercicios/yoga_bannerr.png);
  height: 300px;
  background-position: center;
}

/*import sección alimentación*/
/*estilos sección principal atitulo y banner*/
#intro-alimentos {
  background-color: #ebebd0;
  background-image: url(../../multimedia/imagenes_alimentacion/banner.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: top 10px;
  height: 250px;
}

#intro-alimentos __titulo-alimentos {
  font-size: 48px;
  text-align: left;
  margin-right: 200px;
  padding: 30px;
  font-weight: bold;
}

#itro .intro__texto {
  color: black;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
}

/* categoria alimentos se deja codigo a modo comentario - se uso ystem grid de bootstrap
.section-alimentos {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:400px;
    grid-column-gap: 20px;
    width: 100%;
    padding: 10px;
    background-color:#f1f1f1;
    justify-content: center;
    grid-auto-columns: minmax(125px, auto);

    .bloque1-alimentos {
        width: 25rem;
        height: 25rem;
        justify-content: left;
        background-color:rgb(235, 235, 208);
        border-radius: 2.5rem;
        margin: auto;    
        background-image: url(../../multimedia/imagenes_alimentacion/frutos_secos.jpg);

        .bloque2-alimentos {

            width: 25rem;
            height: 25rem;
            justify-content: right;
            background-color: #98e098;
            margin: auto;
            font-size: 0.875rem;

            .video {
                width: 600px;
                height: 400px;
                border-radius: 40px;

            .beneficios {
                text-align: center;
                padding: 1.25rem 1.25rem;
                align-self: center;

            .texto {
                padding: 20px 20px;
                align-self: center;
                padding: 20px 20px;
                height: 400px;
                width: 400px;

            }
            }

            
             

                }
            }

        }
    }
.section2-alimentos {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:400px;
    grid-column-gap: 20px;
    width: 100%;
    padding: 10px;
    background-color:#f1f1f1;
    justify-content: center;
    grid-auto-columns: minmax(125px, auto);

    .bloque3 {
        width: 400px;
        height: 400px;
        justify-content: left;
        background-color:rgb(235, 235, 208);
        border-radius: 40px;
        margin: auto;
        background-image: url(../../multimedia/imagenes_alimentacion/matcha.jpg);
        background-size: cover;
        background-position:center;
        .bloque4 {
            width: 800px;
            height: 400px;
            justify-content: right;
            background-color: #8bc34a8f;
            margin:auto;

        }
    }
    
}
*/
/*import sección meditaciones*/
/*estilos sección principal meditaciones titulo y banner*/
#intro-meditaciones {
  height: 100 px;
  background-color: #ebebd0;
  background-image: url(../../multimedia/imagenes_meditaciones/bannerpan02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: top 10px;
  height: 250px;
}

#intro-meditaciones .intro-meditaciones__titulo-meditaciones {
  color: #a9554f;
  font-size: 48px;
  text-align: left;
  margin-right: 200px;
}

#intro-meditaciones .intro-meditaciones__titulo-meditaciones .intro-meditaciones__texto {
  color: black;
  font-style: normal;
  font-size: 16px;
  background-color: #f1f1f1;
  margin-bottom: 15px;
  padding: 10px;
  font-weight: bold;
}

/* categoria alimentos se deja codigo a modo comentario - se uso ystem grid de bootstrap
.section-meditaciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: 10px 40px;
    width: 100%;
    margin: auto;
    background-color:#f1f1f1;
    padding: 30px 20px 10px 30px;
    .bloque1_meditaciones {
        width: 400px;
        height: 500px;
        justify-content: center;
        background-color:rgb(235, 235, 208);
        background-image: url(./../multimedia/imagenes_meditaciones/gif_meditaciones.gif);
        margin: auto;      
        background-size: cover;
        background-position:bottom;
        font-size: 10px;
        color: ivory;

    }
    .bloque2_meditaciones {
        width: 800px;
        height: 500px;
        justify-content: center; 
        background-image: url(./../multimedia/imagenes_meditaciones/medita_1.jpg);
        margin: auto;

    }
}
.section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: 10px 40px;
    width: 100%;
    margin: auto;
    background-color:#f1f1f1;
    padding: 30px 20px 10px 30px; 
    .bloque1_meditaciones {
        width: 400px;
        height: 500px;
        justify-content: left;
        background-color:#f1f1f1; 
        margin: auto;  
    }
    .bloque2_meditaciones {
        width: 800px;
        height: 500px;
        justify-content: center;
        background-color:#f1f1f1;  
        margin:auto;
        background-size:100%;
        font-size: 10px;
        color: ivory;
        background-image: url(./../multimedia/imagenes_meditaciones/medita_2.jpg);
    }
}
*/
/*import sección ejercicios*/
/*estilos sección principal atitulo y banner*/
#intro-ejercicios {
  height: 100 px;
  background-image: url(../../multimedia/imagenes_ejercicios/flor.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: top 10px;
  height: 250px;
}

#intro-ejercicios .intro__texto {
  font-style: normal;
  font-size: 12px;
  text-align: center;
  background-color: black;
  margin-bottom: 15px;
  padding: 10px;
}

h1 {
  color: blanchedalmond;
  font-size: 12px;
}

h2 {
  background-color: #a6acaf;
  font-size: 12px;
}

/* se deja el codigo original a modo de comentarios - inicialmente se trabajo esta sección con grid, versión final se realza con system grid de bootstrap
.section-ejercicios {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 200px 200px;
    grid-gap: 10px 40px;
    width: 100%;
    margin: auto;
    background-color:#f1f1f1;
    padding: 30px 20px 10px 30px;  

    .bloque1-ejercicios {
        width: 600px;
        height: 400px;
        justify-content: left;
        background-color:#a6acaf;
        background-image: url(../../multimedia/imagenes_ejercicios/yoga_2.jpg);
        border-radius: 10px;
        margin: auto;    
        background-size: cover;
        background-position:center;
        font-size: 10px;
        color: ivory;    

        h1 {
            background-color:#a6acaf;
            text-align: center;
            height: 60px;
            padding: 10px;  

        }
    }
    
.bloque2-ejercicios {
    width: 600px;
    height: 400px;
    justify-content: right;
    background-color: #a6acaf;  
    background-image: url(../../multimedia/imagenes_ejercicios/yoga_1.jpg);
    border-radius: 10px;
    margin: auto;
    background-size: cover;
    background-position:center;
    color: black;  
    h1 {
        background-color:#a6acaf;
        text-align: center;
        height: 60px;
        padding: 10px; 

    }
    h2 {
        background-color:#a6acaf;
        text-align: center;
        height: 30px;
        padding: 5px;

    }

}

}

.section2-ejercicios {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 200px 200px;
    grid-gap: 10px 40px;
    width: 100%;
    margin: auto;
    background-color:#f1f1f1;
    padding: 30px 20px 10px 10px;
    border-radius: 10px;
    .bloque3 {
        width: 600px;
        height: 400px;
        justify-content: left;
        background-color:#c0bcb0;
        border-radius: 10px;
        margin: auto;
        color: #5b5a55;    
        h3 {
            text-align: justify;
            padding: 50px 20px;  
            font-size: 18px;

        }

    }
    .bloque4 {
        width: 600px;
        height: 400px;
        justify-content: right;
        background-color:#c0bcb0;  
        border-radius: 10px;
        margin:auto;
        h3 {
            text-align: justify;
            padding: 100px 20px;
            color: #5b5a55; 
            font-size: 18px; 

        }

    }
}*/
/*# sourceMappingURL=styles.css.map */