/*estilos genricos + sección index*/
*{
    margin:0;
    list-style: none;
    box-sizing: border-box;
    font-weight: 400;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;   
    text-decoration:none;
}

/*scroll más suave en toda la home*/
html {  
    scroll-behavior: smooth;    
}

/*estilos navbar*/
.navbar {
    height: 150px;
    padding-top: 0;
    background-color: #a8c18dd9;    
}

/* import estilos seccion footer - formulario - alimentacion -meditaciones -ejercicios*/ 

/*import componente footer*/
@import"./componentes/footer";
/*import componente formulario*/
@import "./componentes/formulario";
/*import sección alimentación*/
@import "./componentes/alimentacion";
/*import sección meditaciones*/
@import "./componentes/meditaciones";
/*import sección ejercicios*/
@import "./componentes/ejercicios";